version: '3'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - JWT_SECRET=your_jwt_secret_key
    volumes:
      - ./backend/data:/app/backend/data
    restart: always