version: '3'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - JWT_SECRET=your_jwt_secret_key
      - DB_PATH=/app/backend/cet4.db
    volumes:
      - ./backend/cet4.db:/app/backend/cet4.db
    restart: always